.footerWrapper {
    background: transparent;
    overflow-y: scroll;
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 10%;
    background-color: #003647;
    transform: translateY(20px);
    color: #fff;
    z-index: -10;
    overflow-y: scroll;

    &__card {
        display: flex;
        flex-direction: column;

        &__description {
            font-size: 1.6rem;
            margin: 2rem 0;
            text-align: center;
        }
    }

    &__lists-container {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-top: 2rem;

        &__title {
            margin-bottom: 0.8rem;
            font-size: 1.4rem;
            font-weight: normal;
        }

        &__list {
            color: rgba($color: #fff, $alpha: .8);
        }

        li {
            padding: 0.5rem;
            border-bottom: 1px rgba($color: #fff, $alpha: .16) solid;
        }

        &__menu {
            flex-basis: 40%;
        }

        &__opening {
            flex-basis: 50%;

            li {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}