.button--transparent {
    @include button($transition: none);

    @media (min-width: 992px) {
        font-size: 1rem;
    }

    &:hover {
        background-color: #e1e1df;
    }
}

.button--full {
    @include button($base-color, $color:#fff);

    @media (min-width: 992px) {
        font-size: 1rem;
    }
}

.button--border-white {
    @include button($border: 1px solid, $font-size: 1.2rem, $color: #fff, $letter-spacing: 1px);

    &:hover {
        background-color: #fff;
        color: $base-color;
    }
}

.button--border-color {
    @include button($border: 1px solid, $font-size: 1.4rem, $color: $base-color);

    @media (min-width: 992px) {
        font-size: 1.2rem;
    }

    @media (min-width: 1200px) {
        font-size: 1rem;
    }

    &:hover {
        background-color: $base-color;
        color: #fff;
    }
}