.line {
    display: block;
    width: 10%;
    padding-top: 1rem;
    border-bottom: 2px solid rgba($color: #000000, $alpha: 0.1);

    &--center {
        margin: 0 auto;
    }

    &--all-over {
        width: 100%;
        border-width: 1px;
    }
}