@mixin button($bgc: transparent, $border: none, $font-size: 1.6rem, $letter-spacing: 2px, $color: $darker-font, $text-transform: uppercase, $transition: (background-color 0.3s, color 0.3s)) {
    background-color: $bgc;
    border: $border;
    border-radius: 2px;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    color: $color;
    text-transform: $text-transform;
    cursor: pointer;

    @if $border !=0 {
        border-color: $color;
    }

    @if $transition {
        transition: $transition;
    }
}

@mixin basic-information($bgc: #fff, $bgi: none, $white-text: none, $text-align: left, $left-margin-image: none, $title-margin-bottom: 1rem) {
    position: relative;
    z-index: 1;
    $title-color: $darker-font;
    $description-color: $lighter-font;
    display: flex;
    flex-direction: column;
    padding: 8%;
    text-align: $text-align;
    background-color: $bgc;

    @if $white-text !=none {
        $title-color: #fff;
        $description-color: #fff;
    }

    @if $bgi !=none {
        background-image: url("../assets/images/background.jpg");
    }

    @media (min-width: 640px) {
        flex-direction: row;
        text-align: left;
        padding: 5% 5% 5% 8%;
    }

    &__image {
        @media (min-width: 640px) {
            max-width: 40%;
            margin-right: 3%;

            @if $left-margin-image !=none {
                margin-right: 0;
                margin-left: 3%;
            }
        }

        @media (min-width: 1200px) {
            max-width: 35%;
        }
    }

    &__subtitle {
        margin: 5% 0 1rem 0;
        color: $base-color;
        font-size: 2rem;
        font-weight: normal;

        @media (min-width: 640px) {
            font-size: 1.6rem;
        }

        @media (min-width: 992px) {
            font-size: 2rem;
        }
    }

    &__title {
        margin-bottom: $title-margin-bottom;
        color: $title-color;
        font-size: 2.4rem;
        font-weight: normal;

        @media (min-width: 640px) {
            font-size: 2rem;
        }

        @media (min-width: 992px) {
            font-size: 2.6rem;
        }

        &--alternate {
            color: $base-color;
        }
    }

    &__description {
        color: $description-color;
        font-size: 1.6rem;
        line-height: 2.5rem;

        @media (min-width: 640px) {
            font-size: 1.3rem;
        }

        @media (min-width: 992px) {
            font-size: 1.6rem;
        }
    }

    button {
        margin-top: 10%;
    }
}