.appointment {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 0;
    background-image: url("../assets/images/background.jpg");
    background-size: cover;

    @media (min-width: 992px) {
        flex-direction: row;
        justify-content: space-evenly;
    }

    &__title {
        color: #fff;
        margin-bottom: 4rem;
        font-size: 2.6rem;
        text-align: center;
        text-transform: uppercase;

        @media (min-width: 992px) {
            margin-bottom: 0;
        }

        @media (min-width: 992px) {
            font-size: 2rem;
        }
    }

    &__pin {
        min-width: 1.2rem;
        min-height: 1.2rem;
    }
}