.basic-informations {
    display: flex;
    flex-direction: column;
    padding: 3rem 5% 0 5%;
    background-color: #f8f8f8;

    @media (min-width: 640px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}