.comments {
    padding: 0 10%;

    &--pink {
        background-image: url("../assets/images/background.jpg");
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5rem 0;
    }

    &__title {
        color: $base-color;
        font-size: 2.2rem;
        font-weight: normal;
        text-transform: uppercase;
        text-align: center;
    }

    &__avatar {
        max-width: 10rem;
        min-width: 10rem;
        margin-bottom: 1rem;
    }

    &__comment {
        margin: 3rem 0 1.5rem 0;
        font-size: 1.4rem;
        font-style: italic;
        color: $darker-font;
        line-height: 2rem;
        text-align: center;

        &--pink {
            color: #fff;
        }
    }

    &__name {
        color: $lighter-font;
        font-size: 1.6rem;
        font-weight: normal;

        &--pink {
            color: #fff;
        }
    }
}