.servicesShortcuts {
    padding: 10%;

    &__title {
        margin-bottom: 2rem;
        color: $base-color;
        font-size: 2.2rem;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;

        &__line {
            display: block;
            width: 10%;
            margin: 0 auto;
            margin-top: 1rem;
            border-bottom: 2px solid rgba($color: #000000, $alpha: 0.1);
        }
    }
}