.slider-wrapper {
    background-color: $base-color;
    position: relative;
    z-index: 3;

    &__polygon {
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%) rotate(45deg);
        height: 4rem;
        width: 4rem;
        background-color: $base-color;

        @media (min-width: 992px) {
            opacity: 1;
        }
    }
}

.slider {
    display: flex;
    flex-direction: column;
    background-color: $base-color;
    color: #fff;
    padding: 3rem;
    text-align: center;

    @media (min-width: 640px) {
        flex-direction: row;
    }

    &__text {
        margin-bottom: 5%;

        @media (min-width: 640px) {
            margin: 5% 0 0 0;
        }

        @media (min-width: 992px) {
            text-align: left;
            padding-left: 5%;
        }

        &__title {
            font-size: 3rem;
        }

        &__description {
            margin: 2.6rem 0;
            font-size: 1.6rem;
            letter-spacing: 1px;
        }
    }

    &__image {
        width: 50%;
        margin-left: 5%;

        @media (min-width: 992px) {
            width: 40%;
            margin-right: 5%;
        }

        @media (min-width: 1200px) {
            width: 35%;
        }

        @media (min-width: 1400px) {
            width: 30%;
        }

        &--bottom {
            transform: translateY(20%);
        }
    }
}

.swiper-button-prev,
.swiper-button-next {
    color: #fff !important;
}