.slider {
    display: flex;
    flex-direction: column;
    background-color: $base-color;
    color: #fff;
    padding: 3rem 3rem 0 3rem;
    text-align: center;

    @media (min-width: 640px) {
        flex-direction: row;
        align-items: center;
    }

    &__text {
        margin-bottom: 5%;

        &__title {
            font-size: 3rem;
        }

        &__description {
            margin: 2.6rem 0;
            font-size: 1.6rem;
            letter-spacing: 1px;
        }
    }

    &__image {

        @media (min-width: 640px) {
            width: 50%;
            margin-left: 5%;
        }
    }
}

.swiper-button-prev,
.swiper-button-next {
    color: #fff !important;
}