* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
button {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 768px) {
  html,
  button {
    font-size: 11px;
  }
}

@media (min-width: 1200px) {
  html,
  button {
    font-size: 13px;
  }
}

@media (min-width: 1200px) {
  body {
    margin: 20px;
    background-color: #e1e1df;
  }
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

.button--transparent {
  background-color: transparent;
  border: none;
  border-radius: 2px;
  font-size: 1.6rem;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: none;
  transition: none;
}

@media (min-width: 992px) {
  .button--transparent {
    font-size: 1rem;
  }
}

.button--transparent:hover {
  background-color: #e1e1df;
}

.button--full {
  background-color: #EA8F7C;
  border: none;
  border-radius: 2px;
  font-size: 1.6rem;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border-color: #fff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

@media (min-width: 992px) {
  .button--full {
    font-size: 1rem;
  }
}

.button--border-white {
  background-color: transparent;
  border: 1px solid;
  border-radius: 2px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border-color: #fff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.button--border-white:hover {
  background-color: #fff;
  color: #EA8F7C;
}

.button--border-color {
  background-color: transparent;
  border: 1px solid;
  border-radius: 2px;
  font-size: 1.4rem;
  letter-spacing: 2px;
  color: #EA8F7C;
  text-transform: uppercase;
  cursor: pointer;
  border-color: #EA8F7C;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

@media (min-width: 992px) {
  .button--border-color {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .button--border-color {
    font-size: 1rem;
  }
}

.button--border-color:hover {
  background-color: #EA8F7C;
  color: #fff;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 2.5rem 2%;
}

@media (min-width: 640px) {
  .card {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (min-width: 1200px) {
  .card img {
    width: 5.5rem;
  }
}

.card__information-wrapper {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.card__information-wrapper--short {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.card__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 11rem;
  height: 11rem;
  background-color: #fff;
  border: solid rgba(0, 0, 0, 0.1) 1px;
  border-radius: 50%;
}

@media (min-width: 1200px) {
  .card__icon-wrapper {
    width: 9rem;
    height: 9rem;
  }
}

@media (min-width: 1200px) {
  .card__icon-wrapper img {
    width: 3.5rem;
  }
}

.card__title {
  margin: 2rem 0 1.5rem 0;
  font-size: 1.8rem;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.6);
}

@media (min-width: 1200px) {
  .card__title {
    font-size: 1.5rem;
  }
}

.card__description {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.4);
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

@media (min-width: 992px) {
  .card__description {
    font-size: 1.4rem;
  }
}

@media (min-width: 1200px) {
  .card__description {
    font-size: 1.3rem;
  }
}

.card__description--short {
  opacity: 0;
}

.card__button-wrapper {
  margin-top: auto;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.card__button-wrapper--short {
  opacity: 0;
}

.info-shortcuts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 4%;
  background-color: #fff;
}

@media (min-width: 992px) {
  .info-shortcuts {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (min-width: 1200px) {
  .info-shortcuts {
    padding: 2% 4%;
  }
}

.info-shortcuts__icon-informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin-bottom: 1rem;
  text-align: center;
}

@media (min-width: 640px) {
  .info-shortcuts__icon-informations {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .info-shortcuts__icon-informations {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: auto;
    margin-bottom: 0;
  }
}

.info-shortcuts__icon-informations__icon {
  max-width: 100px;
  max-height: 100px;
  padding: 10%;
  border: 1px rgba(0, 0, 0, 0.1) solid;
}

@media (min-width: 640px) {
  .info-shortcuts__icon-informations__icon {
    max-width: 50px;
    max-height: 50px;
    padding: 3%;
    margin-right: 10px;
  }
}

.info-shortcuts__icon-informations__informations {
  margin: 5px 0;
  font-size: 1.6rem;
}

@media (min-width: 992px) {
  .info-shortcuts__icon-informations__informations {
    font-size: 1.3rem;
  }
}

.info-shortcuts__icon-informations__informations h4 {
  color: rgba(0, 0, 0, 0.6);
  font-weight: normal;
}

.info-shortcuts__icon-informations__informations p {
  color: rgba(0, 0, 0, 0.4);
}

.line {
  display: block;
  width: 25px;
  padding-top: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.line--center {
  margin: 0 auto;
}

.line--all-over {
  width: 100%;
  border-width: 1px;
}

.footerWrapper {
  background: transparent;
  overflow-y: scroll;
}

.footer {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10%;
  background-color: #003647;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  color: #fff;
  z-index: -10;
  overflow-y: scroll;
}

.footer__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__card__description {
  font-size: 1.6rem;
  margin: 2rem 0;
  text-align: center;
}

.footer__lists-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 2rem;
}

.footer__lists-container__title {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: normal;
}

.footer__lists-container__list {
  color: rgba(255, 255, 255, 0.8);
}

.footer__lists-container li {
  padding: 0.5rem;
  border-bottom: 1px rgba(255, 255, 255, 0.16) solid;
}

.footer__lists-container__menu {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.footer__lists-container__opening {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.footer__lists-container__opening li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .header__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.header__logo {
  max-width: 90%;
  margin: 0 auto;
}

.header__logo img {
  width: 100%;
}

@media (min-width: 992px) {
  .header__logo {
    max-width: 45%;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .header__logo {
    max-width: 40%;
    margin: 0;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

@media (min-width: 640px) {
  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 992px) {
  .menu {
    margin-top: 0;
  }
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8%;
  text-align: left;
  background-color: #fff;
}

@media (min-width: 640px) {
  .about-me {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    padding: 5% 5% 5% 8%;
  }
}

@media (min-width: 640px) {
  .about-me__image {
    max-width: 40%;
    margin-right: 3%;
  }
}

@media (min-width: 1200px) {
  .about-me__image {
    max-width: 35%;
  }
}

.about-me__subtitle {
  margin: 5% 0 1rem 0;
  color: #EA8F7C;
  font-size: 2rem;
  font-weight: normal;
}

@media (min-width: 640px) {
  .about-me__subtitle {
    font-size: 1.6rem;
  }
}

@media (min-width: 992px) {
  .about-me__subtitle {
    font-size: 2rem;
  }
}

.about-me__title {
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.6);
  font-size: 2.4rem;
  font-weight: normal;
}

@media (min-width: 640px) {
  .about-me__title {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .about-me__title {
    font-size: 2.6rem;
  }
}

.about-me__title--alternate {
  color: #EA8F7C;
}

.about-me__description {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.6rem;
  line-height: 2.5rem;
}

@media (min-width: 640px) {
  .about-me__description {
    font-size: 1.3rem;
  }
}

@media (min-width: 992px) {
  .about-me__description {
    font-size: 1.6rem;
  }
}

.about-me button {
  margin-top: 10%;
}

.appointment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10% 0;
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
}

@media (min-width: 992px) {
  .appointment {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.appointment__title {
  color: #fff;
  margin-bottom: 4rem;
  font-size: 2.6rem;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .appointment__title {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .appointment__title {
    font-size: 2rem;
  }
}

.appointment__pin {
  min-width: 1.2rem;
  min-height: 1.2rem;
}

.basic-informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3% 3% 0 3%;
  background-color: #f8f8f8;
}

@media (min-width: 640px) {
  .basic-informations {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 992px) {
  .basic-informations {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.comments {
  padding: 0 10%;
  background-color: #fff;
}

.comments__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem 0;
}

.comments__title {
  color: #EA8F7C;
  font-size: 2.2rem;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

.comments__avatar {
  max-width: 10rem;
  min-width: 10rem;
  margin-bottom: 1rem;
}

.comments__comment {
  margin: 3rem 0 1.5rem 0;
  font-size: 1.4rem;
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
  line-height: 2rem;
  text-align: center;
}

.comments__name {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.6rem;
  font-weight: normal;
}

.services-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5%;
  background-color: #f8f8f8;
}

.services-icons__wrapper {
  text-align: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 2rem 0;
}

@media (min-width: 992px) {
  .services-icons__wrapper {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

.services-icons__circle {
  position: relative;
  background-color: #fff;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .services-icons__circle {
    width: 100px;
    height: 100px;
  }
}

.services-icons__image {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  max-width: 50%;
}

.services-icons__title {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 1rem;
}

@media (min-width: 992px) {
  .services-icons__title {
    font-size: 1.5rem;
  }
}

.servicesShortcuts {
  padding: 5%;
  background-color: #fff;
}

@media (min-width: 992px) {
  .servicesShortcuts {
    padding: 5% 0;
  }
}

.servicesShortcuts__shortcuts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 640px) {
  .servicesShortcuts__shortcuts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 992px) {
  .servicesShortcuts__shortcuts {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.servicesShortcuts__title {
  margin-bottom: 2rem;
  padding: 0 5%;
  color: #EA8F7C;
  font-size: 2.2rem;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.services-short-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8%;
  text-align: center;
  background-color: #fff;
  background-image: url("../assets/images/background.jpg");
}

@media (min-width: 640px) {
  .services-short-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    padding: 5% 5% 5% 8%;
  }
}

@media (min-width: 640px) {
  .services-short-info__image {
    max-width: 40%;
    margin-right: 3%;
    margin-right: 0;
    margin-left: 3%;
  }
}

@media (min-width: 1200px) {
  .services-short-info__image {
    max-width: 35%;
  }
}

.services-short-info__subtitle {
  margin: 5% 0 1rem 0;
  color: #EA8F7C;
  font-size: 2rem;
  font-weight: normal;
}

@media (min-width: 640px) {
  .services-short-info__subtitle {
    font-size: 1.6rem;
  }
}

@media (min-width: 992px) {
  .services-short-info__subtitle {
    font-size: 2rem;
  }
}

.services-short-info__title {
  margin-bottom: 5%;
  color: #fff;
  font-size: 2.4rem;
  font-weight: normal;
}

@media (min-width: 640px) {
  .services-short-info__title {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .services-short-info__title {
    font-size: 2.6rem;
  }
}

.services-short-info__title--alternate {
  color: #EA8F7C;
}

.services-short-info__description {
  color: #fff;
  font-size: 1.6rem;
  line-height: 2.5rem;
}

@media (min-width: 640px) {
  .services-short-info__description {
    font-size: 1.3rem;
  }
}

@media (min-width: 992px) {
  .services-short-info__description {
    font-size: 1.6rem;
  }
}

.services-short-info button {
  margin-top: 10%;
}

.slider-wrapper {
  background-color: #EA8F7C;
  position: relative;
  z-index: 3;
}

.slider-wrapper__polygon {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(45deg);
          transform: translate(-50%, 50%) rotate(45deg);
  height: 4rem;
  width: 4rem;
  background-color: #EA8F7C;
}

@media (min-width: 992px) {
  .slider-wrapper__polygon {
    opacity: 1;
  }
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #EA8F7C;
  color: #fff;
  padding: 3rem;
  text-align: center;
}

@media (min-width: 640px) {
  .slider {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.slider__text {
  margin-bottom: 5%;
}

@media (min-width: 640px) {
  .slider__text {
    margin: 5% 0 0 0;
  }
}

@media (min-width: 992px) {
  .slider__text {
    text-align: left;
    padding-left: 5%;
  }
}

.slider__text__title {
  font-size: 3rem;
}

.slider__text__description {
  margin: 2.6rem 0;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.slider__image {
  width: 50%;
  margin-left: 5%;
}

@media (min-width: 992px) {
  .slider__image {
    width: 40%;
    margin-right: 5%;
  }
}

@media (min-width: 1200px) {
  .slider__image {
    width: 35%;
  }
}

@media (min-width: 1400px) {
  .slider__image {
    width: 30%;
  }
}

.slider__image--bottom {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
}
/*# sourceMappingURL=style.css.map */