.servicesShortcuts {
    position: relative;
    z-index: 1;
    padding: 5%;
    background-color: #fff;

    @media(min-width: 992px) {
        padding: 5% 0;
    }

    &__shortcuts {
        display: flex;
        flex-direction: column;

        @media (min-width: 640px) {
            flex-direction: row;
            flex-wrap: wrap;
        }

        @media(min-width: 992px) {
            flex-wrap: nowrap;
        }
    }

    &__title {
        margin-bottom: 2rem;
        padding: 0 5%;
        color: $base-color;
        font-size: 2.2rem;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
    }
}