.footerWrapper {
    background: transparent;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 10%;
    background-color: #003647;
    transform: translateY(20px);
    color: #fff;

    &__card {
        display: flex;
        flex-direction: column;

        &__image {
            width: 90%;
            margin: 0 auto;

            @media (min-width: 500px) {
                width: 80%;
            }
        }

        &__description {
            font-size: 1.5rem;
            margin: 2rem 0;
            text-align: center;

            @media (min-width: 500px) {
                font-size: 1.2rem;
            }
        }

        @media (min-width: 500px) {
            width: 45%;
        }
    }

    &__lists-container {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-top: 2rem;

        &__menu {
            ul {
                text-transform: uppercase;

                a {
                    text-decoration: none;

                    &:visited {
                        color: rgba(255, 255, 255, 0.8)
                    }
                }
            }
        }

        &__title {
            margin-bottom: 0.5rem;
            font-size: 1.4rem;
            font-weight: normal;
        }

        .footer-line {
            display: flex;
            height: 1.5px;
            margin-bottom: 1rem;

            &__first-line {
                flex-basis: 2rem;
                background-color: $base-color;
            }

            &__second-line {
                flex-basis: 100%;
                margin-left: 1rem;
                background-color: rgba(255, 255, 255, 0.16);
            }
        }

        &__list {
            color: rgba($color: #fff, $alpha: .8);
        }

        li {
            padding: 0.5rem 0;
            border-bottom: 1px rgba($color: #fff, $alpha: .16) solid;
        }

        &__menu {
            flex-basis: 40%;
        }

        &__opening {
            flex-basis: 50%;

            li {
                display: flex;
                justify-content: space-between;
            }
        }

        @media (min-width: 500px) {
            width: 50%;

            li {
                padding: 1rem 0;
            }
        }

        @media (min-width: 768px) {
            text-align: left;
        }
    }

    @media (min-width: 500px) {
        flex-direction: row;
        justify-content: space-between;
        padding: 5%;
    }

    @media (min-width: 992px) {
        transform: translateY(-20px);
    }

    @media (min-width: 1200px) {
        margin: 0 20px;
    }
}