* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
button {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;

    @media (min-width: 768px) {
        font-size: 11px;
    }

    @media (min-width: 1200px) {
        font-size: 13px;
    }
}

body {
    @media (min-width: 1200px) {
        margin: 20px;
        background-color: #e1e1df;
    }

}

li {
    list-style: none;
}