@mixin button($bgc: transparent, $border: none, $letter-spacing: 2px, $color: $darker-font, $text-transform: uppercase) {
    background-color: $bgc;
    border: $border;
    border-radius: 2px;
    letter-spacing: $letter-spacing;
    color: $color;
    text-transform: $text-transform;

    @if $border !=0 {
        border-color: $color;
    }
}