@mixin button($bgc: transparent, $border: none, $font-size: 1.6rem, $letter-spacing: 2px, $color: $darker-font, $text-transform: uppercase, $transition: (background-color 0.3s, color 0.3s)) {
    background-color: $bgc;
    border: $border;
    border-radius: 2px;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    color: $color;
    text-transform: $text-transform;
    cursor: pointer;

    @if $border !=0 {
        border-color: $color;
    }

    @if $transition {
        transition: $transition;
    }
}